
# secrets
.env
*.env

# venv
.venv/
.venv*/
venv/

# cache
__pycache__/
*.pyc

# streamlit
.streamlit/

# logs
logs/

# Large/local data (psydial4)
Chatbot-Powered-by-Gemini-and-OpenAI-API/data/psydial4
Chatbot-Powered-by-Gemini-and-OpenAI-API/data/DataTranslationAllAtOnce_ver2_clean.ipynb
Chatbot-Powered-by-Gemini-and-OpenAI-API/data/PsyDial-en-dialogues-clean.txt
Chatbot-Powered-by-Gemini-and-OpenAI-API/data/data_sampling.ipynb

!Chatbot-Powered-by-Gemini-and-OpenAI-API/data/psydial4/
!Chatbot-Powered-by-Gemini-and-OpenAI-API/data/psydial4/student_only_rewrite_hispanic_college_grad_100.jsonl
!Chatbot-Powered-by-Gemini-and-OpenAI-API/data/psydial4/student_only_rewrite_african_american_college_grad_100.jsonl
