
# secrets
.env
*.env

# venv
.venv/
.venv*/
venv/

# cache
__pycache__/
*.pyc

# streamlit
.streamlit/

# logs
logs/

# Large/local data (psydial4)
data/psydial4
data/DataTranslationAllAtOnce_ver2_clean.ipynb
data/PsyDial-en-dialogues-clean.txt
data/data_sampling.ipynb